<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommendation System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Movie Recommendation System</h1>
        <form method="POST">
            <label for="movie_title">Enter a movie title:</label>
            <input type="text" id="movie_title" name="movie_title" placeholder="Movie title..." required>
            <button type="submit">Get Recommendations</button>
        </form>

        {% if error_message %}
        <p style="color: rgb(77, 62, 62);">{{ error_message }}</p>
        {% endif %}

        {% if recommendations %}
        <h3>Recommended Movies:</h3>
        <ul>
            {% for movie in recommendations %}
                <li>
                    <strong>{{ movie.title }} ({{ movie.year }}) </strong> - Genre: {{ movie.genre }}
                </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</body>
</html>
